
<section class="container post-group">
  {{!-- <form action="/api/new-post" method="post" enctype="multipart/form-data">
    <label for="description">Describe this picture</label>
    <input type="text" name="description" id="description" required>
    <input type="file" name="image" id="image" accept="image/*" required />
    <div>
      <button id="feed-form" class="btn">Submit!</button>
    </div>
  </form> --}}
  {{#each feeds}}

  <div class="post">
    <figure>
      <img class="post-image" src="{{pic_link}}" alt="image" />
    </figure>
    <div class="content">
      <p class="location">{{location}}</p>
      <p class="description">
        {{description}}
      </p>

      <p class="author">
        <span class="name">Emily R. {{id}}</span> &nbsp/&nbsp
        <span class="department">Sales</span> &nbsp/&nbsp
        <span class="date">12/2019</span>
      </p>
      
    </div>
  </div>
  {{else}}
  <h2 class="primary">Empty feed</h2>
  {{/each}}

</section>
