
<section class="container post-group">


<div id="new-post" class="modal">

  <form action="/api/new-post" method="post" enctype="multipart/form-data">
    <label for="employeeId">What's your employee id?</label>
    <input type="number" class="field" name="employeeId" required>
    <label for="location">Where did you go?</label>
    <input type="text" class="field" name="location">
    <label for="description">Describe this picture</label>
    <textarea type="text" name="description" id="description" maxlength="200" required></textarea>
    <input type="file" name="image" id="image" accept="image/*" required />
    <div>
      <button id="feed-form" class="btn">Submit!</button>
    </div>
  </form>
  <a href="#" rel="modal:close">Close</a>
</div>

  {{#each feeds}}

  <div class="post">
    <figure>
      <img class="post-image" src="{{pic_link}}" alt="image" />
    </figure>
    <div class="content">
      <p class="location">{{location}}</p>
      <p class="description">
        {{description}}
      </p>

      <p class="author">
        <span class="name">{{employeeName}}</span> &nbsp/&nbsp
        {{!-- <span class="department">Sales</span> &nbsp/&nbsp --}}
        <span class="date">{{formatDate}}</span>
      </p>
      
    </div>
  </div>
  {{else}}
  <h2 class="primary">Empty feed</h2>
  {{/each}}

</section>
