
<section class="container post-group">
{{!-- Modal for posting new breakaway --}}
<div id="new-post" class="modal">
  <form action="/api/new-post" method="post" enctype="multipart/form-data">
    <label class="login-label" for="employeeId">What's your employee id?</label>
    <input type="number" class="field" name="employeeId" required>
    <label class="login-label" for="location">Where did you go?</label>
    <input type="text" class="field" name="location">
    <label class="login-label" for="description">Describe this picture</label>
    <textarea type="text" class="field" name="description" id="description" maxlength="200" required></textarea>
    <input type="file" class="choose-file" name="image" id="image" accept="image/*" required />
    <div>
      <button id="feed-form" class="btn modal-btn">Submit!</button>
    </div>
  </form>
</div>


  {{#each feeds}}

  <div class="post">
    <figure>
      <img class="post-image" src="{{pic_link}}" alt="image" />
    </figure>
    <div class="content">
      <p class="location">{{location}}</p>
      <p class="description">
        {{description}}
      </p>

      <p class="author">
        <span class="name">{{employeeName}}</span> &nbsp/&nbsp
        <span class="date">{{formatDate}}</span>
      </p>
      
    </div>
  </div>
  {{else}}
  <h2 class="primary">Empty feed</h2>
  {{/each}}

</section>
