<div class="container">
  <div class="request-header">
    <div>
      {{> nav}}
    </div>
    <h3>Manager Dashboard</h3>
  </div>

  <p class="request-p secondary">Your Team's Requests: </p>
  <br />
  {{#each employeeRequests}}
  <div>
    <p class="requester">{{name}} | {{role}}
    <p>
    <section class="view-table">
      <p>Bank: {{bank}}</p>
      <table class="t-request">
        <tr class="t-row">
          <td class="t-days">Days: <span class="days-requested">Fer days</span></td>
          <td class="t-date">From: <span class="date-start">{{start}}</span></td>
          <td class="t-date">To: <span class="date-end">{{end}}</span></td>
        </tr>
        <tr class="t-row">
          <td colspan="3">Reason: {{reason}}</td>
        </tr>
        <tr class="t-row">
          <td colspan="2" class="requested-on">Requested on: <span class="request-date">{{slicedCreatedAt}}</span></td>
          <td class="t-status t-{{status}}">{{status}}</td>
        </tr>
      </table>
    </section>
    <section class=" button-group">
      <a href="#" class="btn btn-approve" data-id={{reqId}} data-manId={{manId}}>Approve</a>
      <a href="#" class="btn btn-deny" data-id={{reqId}} data-manId={{manId}}>Deny</a>
    </section>
    <br />
    <hr class="request-hr">
    <br />
  </div>
  {{else}}
  <h2 class="primary">You have no upcoming requests.</h2>
  {{/each}}
</div>

<script src="/assets/js/manager.js"></script>