{{> nav}}

<div class="container">
  <h3 class="request-header primary" id="employee" data-id="{{id}}">Welcome, {{name}}</h3>
  <p class="request-p">Choose your dates:</p>
  <form action="" class="request-form">
    <div class="form-group">
      <input name="startDate" type="text" class="field r-start" placeholder="From" required />
      <input name="endDate" type="text" class="field r-end" placeholder="To" required />
    </div>
    <input name="reason" type="text" class="field r-reason" placeholder="How are you going to breakaway?" />
    <div class="form-group">
      <button class="btn request-btn" type="submit">Request</button>
    </div>
    <p id="response" class="no-result"></p>
  </form>
  <p class="request-p">Your upcoming requests: </p>
  {{#each upcomingRequests}}

  <section class="view-table">
    <table class="t-request">

      <tr class="t-row upcoming-1">
        <td>Days: {{duration}}</td>
        <td class="t-days">From: {{startDate}}</td>
        <td class="t-date">To: {{endDate}}</td>

      </tr>

      <tr class="t-row upcoming-2">
        <td colspan="2">Requested date: {{formattedCreatedAt}}</td>
        <td class="t-status t-{{status}}">{{status}}</td>

      </tr>



    </table>

  </section>
  {{else}}
  <h2 class="primary text-center">You have no upcoming requests.</h2>
  {{/each}}

  {{#if bank}}
  <p class="request-p primary">Your remaining days: {{bank}}</p>
  {{/if}}
  <hr class="request-hr">
  <p class="request-p">Current vacation schedule: </p>
  {{> calendar}}
</div>

<script src="/assets/js/request.js"></script>