<div class="container">
  <div class="request-header">
    {{> nav}}
    <h3 class="employee" id="employee" data-id="{{id}}">Hi {{name}} !</h3>
  </div>

  <p class="request-p secondary">Choose Your Dates:</p>
  <form action="" class="request-form">
    <div class="form-group">
      <input name="startDate" type="text" class="field r-start" placeholder="From" required />
      <input name="endDate" type="text" class="field r-end" placeholder="To" required />
    </div>
    <input name="reason" type="text" class="field r-reason" placeholder="How are you going to breakaway?" />
    <div class="form-group">
      <button class="btn request-btn" type="submit" data-manId={{manId}}>Request</button>
    </div>
    <p id="response" class="no-result"></p>
  </form>

  <p class="request-p secondary">Your Upcoming Requests: </p>

  <div class= "wider-view">

  {{#each upcomingRequests}}

  <section class="view-table">
    <table class="t-request">

      <tr class="t-row upcoming-1">
        <td>Days: {{duration}}</td>
        <td class="t-days">From: {{startDate}}</td>
        <td class="t-date">To: {{endDate}}</td>

      </tr>

      <tr class="t-row upcoming-2">
        <td colspan="2">Requested date: {{formattedCreatedAt}}</td>
        <td class="t-status t-{{status}}">{{status}}</td>

      </tr>

    </table>

  </section>

  {{else}}
  <h2 class="primary text-center">You Have No Upcoming Requests.</h2>
  {{/each}}

  </div>

  {{#if bank}}
  <p class="request-p primary">Your Remaining Days: {{bank}}</p>
  {{/if}}

  <br/>
  <hr class="request-hr">
  <br/>

  {{> calendar}}
  <br/>
</div>

<script src="/assets/js/request.js"></script>
